version: '3.8'

services:
  web:
    build: .
    user: adminuser
    command: gunicorn --bind 0.0.0.0:4084 --timeout 28800 adminbi.wsgi:application
    volumes:
      - ./staticfiles:/code/staticfiles  # Asegúrate de que estos volúmenes apunten a las rutas correctas
      - ./mediafiles:/code/mediafiles
    ports:
      - "4084:4084"
    environment:
      - DJANGO_SETTINGS_MODULE=adminbi.settings.prod
      - DB_HOST
    depends_on:
      - redis

  rqworker:
    build: .
    command: python manage.py rqworker default
    volumes:
      - .:/code
    depends_on:
      - web
      - redis

  redis:
    image: redis:alpine3.16
    ports:
      - "6379:6379"
