version: '3.3'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:4085 --timeout 28800 adminbi.wsgi:application
    volumes:
      - ./staticfiles:/code/staticfiles
      - ./media:/code/media
    ports:
      - "4085:4085"
    environment:
      - DJANGO_SETTINGS_MODULE=adminbi.settings.prod
      - DB_HOST
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

  rqworker:
    build: .
    command: python manage.py rqworker default
    volumes:
      - .:/code
    environment:
      - DJANGO_SETTINGS_MODULE=adminbi.settings.prod
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - web
      - redis

  redis:
    image: redis:alpine3.16
    ports:
      - "6379:6379"

volumes:
  staticfiles:
  media:
