{% extends 'base.html' %}
{% load static %}
{% block title %}
Restablecer contraseña
{% endblock title %}

{% block content %}
<div class="container vh-100">
    <div class="row align-items-center h-100">
        <div class="col-md-6">
            <img src="{% static 'images/imagen-login.png' %}" class="img-fluid" style="max-width: 100%; height: auto;"
                alt="Logo">
        </div>
        <div class="col-md-6">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{% static 'images/Logo-DataZenith.png' %}" class="brand_logo img-thumbnail"
                            style="max-width: 200px; height: auto;" alt="Logo">
                        <h3>Restablecer contraseña</h3>
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div>{{ error }}</div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if form %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                    </form>
                    {% else %}
                    <div class="alert alert-danger">
                        El enlace de restablecimiento de contraseña no es válido o ha expirado.
                    </div>
                    <a href="{% url 'users_app:password_reset' %}" class="btn btn-secondary mt-3">Solicitar nuevo
                        enlace</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}